@* Atom: Material Symbol icon wrapper *@
<span class="material-symbols-outlined @Class">@Name</span>

@code {
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public string Class { get; set; } = "";
}
